// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product {
    background-color: white;
    border: 1px solid #A9A9A9;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
  img {
    display: block;
    margin: 0 auto;
  }

  h4 {
    text-align: center;
  }
}
